@charset "UTF-8";

/* didact-gothic-regular - latin */
@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/didact-gothic-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'),
       url('../fonts/didact-gothic-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/didact-gothic-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/didact-gothic-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/didact-gothic-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/didact-gothic-v11-latin-regular.svg#DidactGothic') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* CSS Document */
body, td, th, p {
  font-family: "Didact Gothic", 'fallback',Arial, Helvetica, sans-serif;
  font-size: calc(10px + 1vw);
  color: #373f51;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  display: grid;
  background-color: #fdfdfd;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
  margin: 0;
  position: relative;
}

ul, li {
  font-family: "Didact Gothic", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #373f51;
}

a {
  color: #0caadc;
  text-decoration: none;
  font-weight: lighter;
}
a:hover, a:focus {
  color: #0caadc;
  text-decoration: none;
}
a img {
  border: none 0px #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", 'fallback', Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

header {
  grid-area: header;
  max-width: 100vw;
  height: 80px;
}

#maincontent {
  background-color: #fdfdfd;
  grid-area: main;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-areas: "map" "restaurants";
  min-height: 100%;
  max-width: 100vw;
  position: absolute; 
  overflow-x: hidden;
}

#footer {
  background-color: #2e2e3a;
  color: #fdfdfd;
  font-size: 8pt;
  grid-area: footer;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ====================== Navigation ====================== */
nav {
  grid-area: nav;
  width: 100%;
  height: 80px;
  background-color: #2e2e3a;
  text-align: center;
  position: fixed;
  top: 0;
}
nav h1 {
  margin: auto;
  line-height: 2;
}
nav h1 a {
  color: #fdfdfd;
  font-size: calc(14px + 2vw);
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#breadcrumb {
  grid-area: breadcrumb;
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #fdfdfd;
  font-size: 17px;
  margin: 0;
  position: fixed;
  top: 80px;
  width: 100vw;
  text-align: left;
}
#breadcrumb li {
  display: inline;
  font-size: calc(10px + 1vw);
}
#breadcrumb li + li:before {
  padding: 8px;
  color: #000;
  content: "/ ";
}
#breadcrumb li a {
  color: #373f51;
  text-decoration: none;
}
#breadcrumb li a:hover {
  color: #0caadc;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map-container {
  grid-area: map;
}

#map {
  height: 400px;
  width: 100vw;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  grid-area: filter;
  height: 50px;
  max-width: 100vw;
  background-color: #0caadc;
  align-items: center;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-template-areas: "filter-header select-neighborhood select-cuisine";
}

.filter-options h2 {
  color: #000;
  font-size: 1.25rem;
  font-weight: lighter;
  grid-area: filter-header;
  line-height: 1;
  padding: 10px;
  margin-bottom: 0;
  text-align: right;
}
.filter-options select {
  font-family: "Didact Gothic", Arial, Helvetica, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
}

#neighborhoods-select {
  grid-area: select-neighborhood;
}

#cuisines-select {
  grid-area: select-cuisine;
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-container {
  grid-area: restaurants;
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-areas: "filter" "restaurants-list";
}

#restaurants-list {
  grid-area: restaurants-list;
  background-color: #fdfdfd;
  list-style: outside none none;
  padding: 30px 0px 60px;
  text-align: center;
  display: inline-grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 325px));
  justify-content: space-around;
  max-width: 100%;
}
#restaurants-list li {
  background-color: #fdfdfd;
  border: 2px solid #ccc;
  border-radius: 10px 5px;
  font-family: "Didact Gothic", Arial, Helvetica, sans-serif;
  display: inline-grid;
  grid-template-columns: 2;
  grid-template-rows: 5;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  grid-area: restaurant-image-main;
  background-color: #ccc;
  display: block;
  margin-top: 15px;
  max-width: 100%;
  min-height: auto;
  min-width: 50%;
  border-radius: 5px;
  border: 2px solid #ccc;
    grid-column: 1/ span 2;

  grid-row: 1;
 
}
#restaurants-list li h3 {
  grid-area: restaurant-name-main;
  color: #373f51;
  font-family: "Didact Gothic", Arial, Helvetica, sans-serif;
  font-size: calc(20px + .5vw);
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 20px 0 10px;
  text-transform: uppercase;
  grid-column: 1;
  grid-row: 2;
}

#restaurants-list .favorite-icon-main {
  grid-area: favorite-icon-main;
  grid-column: 2;
  grid-row: 2;
  margin: auto;
}
#restaurants-list p {
  margin: 0;
  font-size: calc(14px + .5vw);
  
}
#restaurants-list .restaurant-neighborhood-main {
  grid-area: restaurant-neighborhood-main;
  grid-column: 1/span 2;
  grid-row: 3;
}
#restaurants-list .restaurant-address-main {
  grid-area: restaurant-address-main;
  grid-column: 1/span 2;
  grid-row: 4;
}

#restaurants-list li a {
  grid-area: restaurant-detailsbtn-main;
  background-color: #373f51;
  border-bottom: 3px solid #fdfdfd;
  border-radius: 5px;
  color: #fdfdfd;
  display: inline-block;
  font-size: calc(20px + .5vw);
  font-weight: lighter;
  line-height: calc(20px + .5vw);
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 1/span 2;
  grid-row: 5;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  grid-area: header;
  top: 0;
  z-index: 1000;
  display: inline-grid;
  grid-template-areas: "nav" "breadcrumb";
}

.details main {
  grid-area: main;
  display: inline-grid;
}

.inside #map-container {
  grid-area: map;
  background: #0caadc none repeat scroll 0 0;
  right: 0;
  top: 80px;
  grid-column: 2;
  grid-row: 1/3;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  max-width: 50vw;
}
.inside #footer {
  bottom: 0;
  grid-area: footer;
}

#restaurant-name {
  color: #373f51;
  font-family: "Roboto", 'fallback', Arial, Helvetica, sans-serif;
  font-size: calc(16px + 1vw);
  font-weight: 200;
  letter-spacing: 0;
  margin: 40px 0 30px;
  text-transform: uppercase;
  line-height: 0.8;
}

#restaurant-img {
  width: 98%;
  margin: auto;
}

#favorite-checkbox { 
    width: 20px;
    height: 20px;
}

#restaurant-address {
  font-size: calc(10px + 1vw);
  margin: auto;
  padding: 20px 10px;
}

#restaurant-cuisine {
  background-color: #2e2e3a;
  color: #ccc;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 98%;
}

#restaurant-container {
  grid-area: restaurant;
  display: inline-grid;
  grid-template-rows: auto;
  grid-column: 1;
  grid-row: 1/1;
  background-color: #fdfdfd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fdfdfd;
  padding: 30px 40px 30px;
}

#reviews-container {
  background-color: #fdfdfd;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fdfdfd;
  padding: 30px 40px 30px;
  grid-area: reviews;
  display: inline-grid;
  grid-template-areas: "review-heading" "reviewform-heading" "addreview-form" "reviews-list";
  grid-column: 1;
  grid-row: 2/2;
}
#reviews-container h3 {
  grid-area: review-heading;
  color: #373f51;
  font-size: 24pt;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#addReviewForm {
  grid-area: addreview-form;
  display: inline-grid; 
  margin: 0 10%;
  grid-template-areas: "review-name review-rating" "review-comments" "review-button";
}

#reviews-container h4 {
  grid-area: reviewform-heading;
}


input#name {
  grid-area: "review-name";
  border: solid 2px #ccc;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
}

select#rating {
  grid-area: "review-rating";
  border: solid 2px #ccc;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;

}

input#comments {
  grid-area: "review-comments";
  border: solid 2px #ccc;
  height: 100px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
}

#addReviewForm button {
  grid-area: "review-button";
  background-color:  #2e2e3a;
  color: white;
  height: 35px; 
  font-size: 18px;
  border-radius: 10px;
  margin: 35px 0;
}

#addReviewForm button:hover {
  grid-area: "review-button";
  background-color: white;
  color:  #2e2e3a;
  height: 35px; 
  font-size: 18px;
  border-radius: 10px;
  margin: 35px 0;
}


#reviews-list {
  grid-area: reviews-list;
  margin: auto;
  padding: 0;
}
#reviews-list li {
  background-color: #fdfdfd;
  border-radius: 20px 0 20px 0;
  border: #2e2e3a 2px solid;
  display: inline-grid;
  list-style-type: none;
  margin: 0 20px 30px;
  overflow: hidden;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#reviews-list li p:nth-child(1), #reviews-list li p:nth-child(2) {
  background: #2e2e3a;
  padding: 20px 15px;
}
#reviews-list li p:nth-child(1) {
  grid-area: reviewers-name;
  color: #fdfdfd;
  font-size: calc(16px + 1vw);
  text-align: left;
  grid-column: 1;
  grid-row: 1;
}
#reviews-list li p:nth-child(2) {
  grid-area: date;
  color: #fdfdfd;
  font-size: calc(10px + .5vw);
  font-weight: lighter;
  text-align: right;
  grid-column: 2;
  grid-row: 1;
}
#reviews-list li p:nth-child(3) {
  background: #0caadc;
  grid-area: rating;
  color: #fdfdfd;
  font-size: calc(8px + 1vw);
  grid-column: 1;
  grid-row: 2;
  padding: 8px;
  margin-left: 20px;
  width: 100px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 70%;
}
#reviews-list li p:nth-child(4) {
  grid-area: review-details;
  color: #2e2e3a;
  font-size: calc(10px + .75vw);
  grid-column: 1/3;
  grid-row: 3/3;
  padding: 0 20px 20px;
}

#restaurant-hours td {
  color: #2e2e3a;
  margin: auto;
}

@media screen and (min-width: 301px) {
  nav h1 {
    line-height: 80px;
  }
}
@media screen and (max-width: 800px) {
  .filter-options {
    height: auto;
    grid-template-areas: "filter-header" "select-neighborhood" "select-cuisine";
  }
  .filter-options h2 {
    text-align: center;
  }

  .inside #map-container {
    height: 400px;
    grid-area: map;
    background: #0caadc none repeat scroll 0 0;
    right: 0;
    top: 80px;
    grid-column: 1;
    grid-row: 1;
  }
  .inside #map {
    height: 100%;
    max-width: 100vw;
  }

  #restaurant-container {
    height: auto;
    grid-column: 1;
    grid-row: 2;
  }

  #reviews-container {
    height: auto;
    grid-column: 1;
    grid-row: 3;
    padding: 0 10px 20px;
  }

  #reviews-list li p:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/1;
    margin-bottom: 0;
    padding: 10px 10px 0px 20px;
  }
  #reviews-list li p:nth-child(2) {
    grid-column: 1/3;
    grid-row: 2/2;
    padding: 0px 20px 10px;
    text-align: left;
  }
  #reviews-list li p:nth-child(3) {
    grid-column: 1/3;
    grid-row: 3/3;
    width: 30%;
  }
  #reviews-list li p:nth-child(4) {
    grid-column: 1/3;
    grid-row: 4/4;
  }
}